
@using ANAILYAHOME.entityes
@model List<FiyatEntity>
@{
    ViewData["Title"] = "fiyat";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}


<div class="w3-bar-item w3-button fiyat">
    <ul>
        <li><a href="/Admen/fiyat">Fıyat</a></li>
        <li><a href="/Admen/oturmafiyat">Oturma odası fıyat</a></li>
        <li><a href="/Admen/yatmafiyat">Yatma odası fıyat</a></li>
        <li><a href="/Admen/cocukfiyat">Çocuk odası fıyat</a></li>
        <li><a href="/Admen/yemekfiyat">Yemek odası fıyat</a></li>
    </ul>
</div>



<table class="table table-bordered" style="margin-top:52px">

    <tr>
        <th>Id</th>
        <th>Urun Adi</th>
        <th>Fıyatı</th>
        <th>Cüncele</th>
        <th>sil</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.urun.katagore</td>
            <td>@x.Anafiyat</td>
            <td><a href="/Admen/fiyatgetir/@x.id" class="btn btn-primary">Cüncele</a></td>
            <td><a href="/Admen/fiyatsil/@x.id" class="btn btn-danger">sil</a></td>

        </tr>
    }
</table>
<a href="/Admen/yeniFiyat/" class="btn btn-primary">Fiyat ek</a>

