@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



   <section id="card" class="section-p2">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-times-circle-o"></i></a></td>
                <td><img src="earrings/shop2.jpeg" alt=""></td>
                <td>Silver Diamond Earrings</td>
                <td>132.00$</td>
                <td><input type="number" value="1"></td>
                <td>132.00$</td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-times-circle-o"></i></a></td>
                <td><img src="earrings/shop2.jpeg" alt=""></td>
                <td>Silver Diamond Earrings</td>
                <td>132.00$</td>
                <td><input type="number" value="1"></td>
                <td>132.00$</td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-times-circle-o"></i></a></td>
                <td><img src="earrings/shop2.jpeg" alt=""></td>
                <td>Silver Diamond Earrings</td>
                <td>132.00$</td>
                <td><input type="number" value="1"></td>
                <td>132.00$</td>
            </tr>
        </tbody>

    </table>
</section>




