@using ANAILYAHOME.models;
@using ANAILYAHOME.entityes;
@model IEnumerable<TeslimSuresi>

@{
    ViewData["Title"] = "teslimsuresi";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}



<h1 style="margin-top:-33px;margin-bottom:20px">Teslim Süresi</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teslimsuresi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.teslimsuresi)
                </td>
                <td><a href="/teslimsuresi/sil/@item.id" class="btn btn-danger">sil</a></td>
                <td><a href="/teslimsuresi/Edit/@item.id" class="btn btn-success">Cüncele</a></td>
            </tr>
        }
    </tbody>
</table>
