<!--shop-->
<section class="shop" id="shop">
    <!--content-->
    <div class="shop-container" id="shospsayfasi">
        <!--Box 1-->
        <div class="box" onclick="window.location.href='urun.html'">
            <div class="box-img">
                <img src="~/css/img/background.jpg" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>

            </div>
            <i class='bx bx-cart'></i>
        </div>
        <!--Box 2-->
        <div class="box">
            <div class="box-img">
                <img src="~/css/img/background3.jpg" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>
            </div>

            <i class='bx bx-cart'></i>
        </div>
        <!--Box 3-->
        <div class="box">
            <div class="box-img">
                <img src="~/css/img/background4.png" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>
            </div>

            <i class='bx bx-cart'></i>
        </div>
        <!--Box 4-->
        <div class="box">
            <div class="box-img">
                <img src="~/css/img/p4.jpg" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>
            </div>

            <i class='bx bx-cart'></i>
        </div>
        <!--Box 5-->
        <div class="box">
            <div class="box-img">
                <img src="~/css/img/p5.jpg" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>
            </div>

            <i class='bx bx-cart'></i>
        </div>

        <!--Box 6-->
        <div class="box">
            <div class="box-img">
                <img src="~/css/img/p6.jpg" alt="">
            </div>
            <div class="title-price">
                <h3>Gray Chair</h3>
            </div>

            <i class='bx bx-cart'></i>
        </div>


    </div>
</section>




<!---->
<section class="newsletter" id="contact">
    <div class="newtext">
        <h2>Subscribe To Newsletter</h2>
    </div>
    <div class="form" onsubmit=" SendEmail() ;reset(); return false; ">
        <input type="email" placeholder="Enter Your Email...">
        <button class="normal">Sign Up</button>

    </div>


</section>