@using ANAILYAHOME.models;
@using ANAILYAHOME.entityes;
@model IEnumerable<renkler>
@{
    ViewData["Title"] = "reng";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}



<h1 style="margin-top:-33px;margin-bottom:20px">Reng</h1>

<p>
    <a asp-action="Create" class="btn btn-success"> Renk Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.renk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.renk)
                </td>
                <td><a href="/reng/rengsil/@item.id" class="btn btn-danger">sil</a></td>
            </tr>
        }
    </tbody>
</table>
