@model ANAILYAHOME.entityes.OturmaOdasi
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}

<form method="post" asp-action="Delete">
    <input asp-for="id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Item</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="urun.urunAdı"></label>
            <input asp-for="urun.urunAdı" class="form-control" />
          
        </div>
        <div class="mb-3">
            <label asp-for="urun.urunKod"></label>
            <input asp-for="urun.urunKod" class="form-control" />
           
        </div>
        <div class="mb-3">
            <label asp-for="urun.sungurTipi"></label>
            <input asp-for="urun.sungurTipi" class="form-control" />
           
        </div>
        <div class="mb-3">
            <label asp-for="urun.ahsapTipi"></label>
            <input asp-for="urun.ahsapTipi" class="form-control" />
           
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-action="Index" asp-controller="Items" class="btn btn-secondary" style="width:150px">
            back to items
        </a>
    </div>
</form>