@model ANAILYAHOME.entityes.OturmaOdasi
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}

<h1>Edit</h1>

@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Item</h2>
            <hr />
        </div>
            <div class="mb-3">
                <label asp-for="urun.urunAdı"></label>
                <input asp-for="urun.urunAdı" class="form-control" />
                <span asp-validation-for="urun.urunAdı" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="urun.urunKod"></label>
                <input asp-for="urun.urunKod" class="form-control" />
                <span asp-validation-for="urun.urunKod" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="urun.tanım"></label>
                <input asp-for="urun.tanım" class="form-control" />
                <span asp-validation-for="urun.tanım" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="urun.sungurTipi"></label>
                <input asp-for="urun.sungurTipi" class="form-control" />
                <span asp-validation-for="urun.sungurTipi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="urun.ahsapTipi"></label>
                <input asp-for="urun.ahsapTipi" class="form-control" />
                <span asp-validation-for="urun.ahsapTipi" class="text-danger"></span>
            </div>
            <div class="mb-3">
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-action="Index" asp-controller="OturmaOdasi" class="btn btn-secondary" style="width:150px">
            back to items
        </a>
    </div>
    </div>
</form>