
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}
@using ANAILYAHOME.models;
@using ANAILYAHOME.entityes;
@model IEnumerable<OturmaOdasi>


<div class="container p-3">
    @if (TempData["successData"] != null){
        <h3 style="color:brown;margin-top:-60px">@TempData["successData"]</h3>
    }

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="margin-top:-36px">Items View</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="OturmaOdasi" asp-action="New" class="btn btn-primary" style="margin-top:-32px">
                <i class="bi bi-plus"></i> &nbsp; Add New Item
            </a>
        </div>
    </div>

    <table class="table table-hover" style="margin-top:-18px">
        <thead>
            <tr>
                <th scope="col">
                    Item Name
                </th>
                <th scope="col">
                    Item Price
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td scope="row" width="50%">
                        @item.urun.urunAdı
                    </td>
                   
                    <td>
                        <a asp-controller="OturmaOdasi" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;
                        <a asp-controller="OturmaOdasi" asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
