@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/style.css" />

<h1>@ViewData["Title"]</h1>

<section class="container">
    <form id="registerForm" method="post">
                <h2>Use a local account to log in.</h2>
        <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating txtb">
                  <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
        <div class="form-floating txtb">
            <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    
                </div>
                <div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <br/>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
            <br />
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
            <br />
                   
                </div>
            </form>
        </section>
    
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
