@page
@using ANAILYAHOME.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
} 
<link rel="stylesheet" href="~/css/style.css" />

<h1>@ViewData["Title"]</h1>

<section class="container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
       
           
        <br>
        @*انبوت الولايات*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-floating txtb">
            <label asp-for="Input.ulkeler"></label><br /><br />
            <select asp-for="Input.ulkeler"  class="form-select-lg  select5" asp-items="Html.GetEnumSelectList<ulkeler>()">
                <option value="0">Ülkeniz seç</option>
            </select>
            <span asp-validation-for="Input.ulkeler" class="text-danger"></span>
        
             </div>
      
          
              <div class="form-floating txtb">
                   <label asp-for="Input.Adi"></label>
                <input asp-for="Input.Adi" class="form-control" maxlength="100" />
                <span asp-validation-for="Input.Adi" class="text-danger"></span>
            </div>
            <div class="form-floating txtb">
                <label asp-for="Input.Soyadi"></label>
                <input asp-for="Input.Soyadi" class="form-control" maxlength="100" />
                <span asp-validation-for="Input.Soyadi" class="text-danger"></span>
            </div>

            <div class="form-floating txtb">
            <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating txtb">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating txtb">
            <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <br/>
           <button id="registerSubmit" type="submit" class="w-100 btn btn-lg ">Satici Ol</button>
          </form>
   </section>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
