


<!---القسم الاساسي-->
<section id="about-heder">
    <h1>İLYA HOME</h1>
    <p>wnow more about our products!</p>
</section>
<section id="about" class="section-p2">
    <img src="~/css/img/bg.jpg">
    <div class="abouttext">
        <h2>How We Are?</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Enim eos ex porro quod, ullam fugit recusandae ipsa nemo
            ipsam Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit, doloremque ipsum.Laudantium expedita vero corrupti quibusdam
            nulla nostrum molestiae culpa!
        </p>

        <abbr title="">
            create stunning images with as much or little control as you
            like thank to a choice of basic and creative modes.
        </abbr>

        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrolamount="5">
            create stunning images with
            as much or little control as you like thanks to a choice of basic and creative modes
        </marquee>
    </div>
</section>


<section id="about-app" class="section-p2">
    <div class="video">
        <video autoplay loop muted src="vecteezy_simple-flat-design-motion-graphic-of-shop-for-ads-explainer_7965965_581.mp4"></video>
    </div>
</section>

<section id="feachure" class="section-p2">
    <div class="fe-box">
        <img src="~/css/img/feachier/freeshop.jpeg" alt="">
        <h6>Free Shopping</h6>
    </div>
    <div class="fe-box">
        <img src="~/css/img/feachier/onlineshop.jpeg" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="~/css/img/feachier/istockphoto-1314458685-612x612.jpg" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="~/css/img/feachier/Promotions.jpeg" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="~/css/img/feachier/Happy Sell2jpeg.jpeg" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="~/css/img/feachier/support.png" alt="">
        <h6>F24/7 support</h6>
    </div>
</section>

<!---->
<section class="newsletter" id="contact">
    <div class="newtext">
        <h2>Subscribe To Newsletter</h2>
    </div>
    <div class="form" onsubmit=" SendEmail() ;reset(); return false; ">
        <input type="email" placeholder="Enter Your Email...">
        <button class="normal">Sign Up</button>

    </div>


</section>











